.board {
    background-color: beige;
    width: 100%;
    height: calc(100% - 82px);
    display: flex;
    gap: 10px;
    position: relative;
    overflow: auto;
}

.last-folder-selected {
    background-color: rgb(225, 220, 220);
}

.selectable {
    cursor: pointer;
}

.folder-selected {
    background-color: #cce5ff;
    border: 1px solid #007bff;
}

.selectable {
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none
}

.selected {
    background-color: #cce5ff;
    border-color: #007bff;
    user-select: none;
}

.drag-select {
    border: 1px dashed #007bff;
    position: absolute;
    pointer-events: none;
    z-index: 1000;
}