.base-wrapper {
  padding: 10px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  background: $background-secondary;
  
  #mainContainer {
    height: 100%;
  }

  .folder-container {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 10px;
  }
}
.folder-selected {
  background-color: #cce5ff;
  border: 1px solid #007bff;
}
.selectable {
  cursor: pointer;
  user-select: none;
}
.selected {
  background-color: $selection-color;
  user-select: none;
  border-radius: 6px;
}
.drag-select {
  border: 1px dashed $selecting-square;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}
.last-folder-selected {
  background-color: rgb(225, 220, 220);
}
