.base-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  background: $background-secondary;
  
  .action-menu-container{
    //separate padding is required to make drag-select work from the edge of first item
    padding: 10px 25px 0px 25px; 
  }
  
  .main-conatainer {
    height: 100%;
  }

  .folder-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    height: 396px;
    scrollbar-gutter: stable;
    padding: 10px 25px 35px 25px;  //separate padding is required to make drag-select work from the edge of first item

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $background-primary;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $border-color;
      border-radius: 100px;
    }
  }
}
.folder-selected {
  background-color: #cce5ff;
  border: 1px solid #007bff;
}
.selectable {
  cursor: pointer;
  user-select: none;
}
.selected {
  background-color: $selection-color;
  user-select: none;
  border-radius: 6px;
}
.drag-select {
  border: 1px dashed $selecting-square;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}
.last-folder-selected {
  background-color: rgb(225, 220, 220);
}
