.action-menu{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    .icon{
        height:22px;
        width:22px;
        cursor: pointer;
    }
}

.blur{
    path{
        fill:#d6d7d7;
    }
}